/* src/App.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #4a235a;
  color: #fff;
}

.App {
  text-align: center;
  
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  background-color: #4a235a;
}

.App-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.app-title {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

.form-container {
  flex: 1;
  padding-right: 20px;
  border-right: 1px solid #ccc;
}

.glucose-container {
  margin-bottom: 20px;
}

.recent-glucose {
  margin-top: 20px;
  text-align: left;
}

input[type="number"] {
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  padding: 5px 0;
  width: 30px;
  margin-left: 5px;
  margin-right: 5px;
  outline: none;
  appearance: textfield; /* Hide the default arrows */
  -moz-appearance: textfield; /* Firefox */
}

.label-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.options-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.option-button {
  margin: 0 5px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  flex: 1;
}

.option-button.active {
  background-color: #8e44ad;
}

.question-container,
.additional-fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.paw-icon {
  font-size: 20px;
  margin-left: 5px;
}

.paw-icon {
  font-size: 32px;
  margin-right: 5px;
}

/* Styles for the paw button */
/* Styles for the paw button */
.paw-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 24px;
  padding: 0;
  margin-top: 20px;
  cursor: pointer;
  transition: color 0.3s; /* Add a smooth transition */
}

/* Additional styles for when button is clicked */
.paw-button:active {
  color: #8e44ad; /* New text color when clicked */
}

.health-text {
  font-family: 'Arial', sans-serif;
  color: #fff;
}


.chart-container {
  width: 80%;
  margin: 2rem auto;
}

.glucose-header {
  text-align: center;
}
.glucose-list {
  list-style: none;
  padding: 0;
}

.glucose-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.paw-list-icon {
  margin-right: 8px;
}

.food-change-description-input {
  width: 100%; /* Adjust the width as needed */
  max-width: 200px; /* Set a maximum width */
  padding: 5px; /* Add padding for a tidier appearance */
  font-size: 14px; /* Adjust the font size */
  resize: none; /* Prevent resizing */
}